@using BooksCatalog.BL.ViewModels
@model IEnumerable<TableViewModel>

<div id="bookEdit"></div>
<div id="authorEdit"></div>
<div class="panel panel-body">
    <br /><hr /><br />
    <button type="button" class="btn btn-default" onclick="editAuthor(0)">Add Author</button>
    <table id="booksTable" class="table table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <td>Authors</td>
                <td>Date</td>
                <td>Raiting</td>
                <td>Pages</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Name</td>
                <td>
                @foreach (var a in m.Authors)
                {
                    <p>@a.Value</p>
                }
                </td>
                <td>@m.Date</td>
                <td>@m.Raiting</td>
                <td>@m.Pages</td>
                <td>Remove</td>
            </tr>
        }
        </tbody>
    </table>
</div>